.container {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5dd8fd;
  padding: 8px 0;
  margin-bottom: 1% !important;
}
.FormControl {
  width: 50%;
}
.NativeSelect {
  color: white;
  background: #5dd8fd;
}
.option {
  color: black;
}
@media (max-width: 768px) {
  .container {
    width: 97%;
  }
}
